<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IOExpress</title>
</head>

<body>
    <div class="body row">
        <div class="col-2 container">
            <div class="container sidebar">
                <div class="top-sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 256 256">
                        <path fill="#333333"
                            d="M216 42H40a14 14 0 0 0-14 14v144a14 14 0 0 0 14 14h176a14 14 0 0 0 14-14V56a14 14 0 0 0-14-14M40 54h176a2 2 0 0 1 2 2v18H38V56a2 2 0 0 1 2-2m176 148H40a2 2 0 0 1-2-2V86h180v114a2 2 0 0 1-2 2m-42-90a46 46 0 0 1-92 0a6 6 0 0 1 12 0a34 34 0 0 0 68 0a6 6 0 0 1 12 0" />
                    </svg>
                    <span class="bold">IOExpress</span>
                </div>
                <div class="content-sidebar">
                    <ul class="options-sidebar" id="options-sidebar"></ul>
                </div>
                <div class="buttom-sidebar">
                    <a type="button" data-bs-toggle="tooltip" data-bs-html="true" id="add-option"
                        data-bs-title="<span>add option</span>">
                        <svg xmlns="http://www.w3.org/2000/svg" class="add-option" width="28" height="28"
                            viewBox="0 0 24 24">
                            <path fill="#666666"
                                d="M11 13v3q0 .425.288.713T12 17t.713-.288T13 16v-3h3q.425 0 .713-.288T17 12t-.288-.712T16 11h-3V8q0-.425-.288-.712T12 7t-.712.288T11 8v3H8q-.425 0-.712.288T7 12t.288.713T8 13zm-6 8q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row top-content mb-3">
                <div class="col-12">
                    <div class="input-group">
                        <a class="btn btn-outline-secondary" type="button" id="button-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                                <path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6" />
                            </svg>
                        </a>
                        <input type="text" class="form-control" placeholder="Search"
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                    </div>
                </div>
            </div>

            <div class="row main-content">
                <div class="border">
                    <div class="row top-table">
                        <div class="col-6 mb-3 mt-2">
                            <h4 class="bold">Top bar</h4>
                        </div>
                    </div>
                    <div class="row container-table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
<script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
<script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="resources/script.js"></script>
<script src="../controllers/options.js"></script>

</html>